.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Gilroy-Medium.woff2") format("woff2"), url("../fonts/Gilroy-Medium.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Gilroy-Bold.woff2") format("woff2"), url("../fonts/Gilroy-Bold.woff2") format("woff");
  font-display: swap;
}
.page {
  font-family: "Gilroy", sans-serif;
  margin: 0;
  padding: 0;
}

.page__body {
  margin: 0;
  padding: 0;
}

.main-header {
  padding: 0;
  margin: 0;
  position: relative;
  background-color: #ffffff;
}

.main-nav {
  position: relative;
  z-index: 2;
}

.main-nav--closed .main-nav__toggle {
  position: absolute;
  background-image: url("../img/toggle.svg");
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  width: 33px;
  height: 20px;
  top: 49px;
  right: 30px;
}

.main-nav--opened .main-nav__toggle {
  position: absolute;
  background-image: url("../img/toggle-exit.svg");
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  width: 23px;
  height: 22px;
  top: 68px;
  right: 30px;
  z-index: 10;
}

.main-nav--closed .main-nav__toggle:hover {
  opacity: 0.6;
}
.main-nav--closed .main-nav__toggle:active {
  opacity: 0.3;
}

.main-nav--opend .main-nav__toggle:hover {
  opacity: 0.6;
}
.main-nav--opend .main-nav__toggle:active {
  opacity: 0.3;
}

.main-nav--opened .site-list {
  position: absolute;
}

.main-nav--closed .site-list {
  display: none;
}

.main-nav--closed .button-language {
  display: none;
}

.site-list {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 34px;
  width: 100%;
  height: 812px;
}

.site-list__link {
  font-size: 34px;
  text-decoration: none;
  font-weight: 700;
  color: #828282;
  margin-left: 26px;
}
.site-list__link--current {
  color: #090909;
}
.site-list__link:nth-child(1) {
  margin-top: 66px;
}
.site-list__link:hover {
  opacity: 0.6;
}

.button-language {
  position: absolute;
  z-index: 10;
  rotate: 90deg;
  bottom: -657px;
  right: -35px;
  font-size: 34px;
  background-color: transparent;
  border: none;
  font-weight: 700;
  line-height: 42px;
  cursor: pointer;
  text-transform: uppercase;
  text-align: center;
}

.button-language--ru .ru,
.button-language--eng .eng {
  color: #000000;
}

.button-language--ru .eng,
.button-language--eng .ru {
  color: #828282;
}

.intro {
  padding: 49px 26px 83px;
}

.intro__title {
  margin: 0;
  font-size: 47px;
}

.intro__description {
  font-size: 18px;
}

.about {
  background-color: #f6f6f6;
  text-align: center;
  padding: 81px 29px 76px;
}

.about__title {
  margin: 0;
  font-size: 34px;
  margin-bottom: 30px;
}

.about__descr {
  font-size: 18px;
  margin: 0;
}
.about__descr:not(:last-child) {
  margin-bottom: 30px;
}

.programs {
  text-align: center;
  padding: 83px 20px 98px;
}

.programs__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 50px;
  column-gap: 30px;
}

.programs__title {
  font-size: 34px;
  margin: 0;
  margin-bottom: 50px;
}

.programs__description {
  font-size: 18px;
  margin: 0;
  margin-bottom: 70px;
}

.portfolio {
  text-align: center;
  padding: 83px 20px 20px;
}

.portfolio__title {
  font-size: 34px;
  margin: 0;
  margin-bottom: 50px;
}

.portfolio__img {
  margin-bottom: 30px;
  width: 100%;
  height: 100%;
}

.portfolio__link {
  color: #000000;
}

.portfolio__description {
  margin: 0;
  margin-top: 30px;
  text-align: left;
}

.portfolio__item:not(:last-child) {
  padding-bottom: 77px;
}

.portfolio__item {
  display: flex;
  flex-direction: column;
}

.technologies {
  text-align: center;
  background-color: #f6f6f6;
  padding: 83px 20px 98px;
}

.technologies__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 50px;
  column-gap: 30px;
}

.technologies__title {
  font-size: 34px;
  margin: 0;
  margin-bottom: 50px;
}

.prof-lvl {
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: space-between;
}

.prof-lvl li {
  background-image: url("../img/Star.svg");
  background-repeat: no-repeat;
  width: 26px;
  height: 26px;
  align-self: center;
  list-style-type: none;
}

.display-none {
  opacity: 0.3;
}

.card__descr {
  font-size: 14px;
}

.footer {
  padding: 82px 29px 90px;
  text-align: center;
}

.footer__description {
  color: #828282;
  font-size: 18px;
}

.contacts__title {
  margin: 0;
  font-size: 34px;
  font-weight: 700;
  margin-bottom: 27px;
}

.contacts__description {
  margin: 0;
  font-size: 18px;
  margin-bottom: 40px;
}

.contacts__button {
  background-color: #000000;
  color: #ffffff;
  border: none;
  border-radius: 50px;
  padding: 12px 60px;
  font-size: 18px;
  cursor: pointer;
}

.social {
  margin: 0;
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
}

.social__item {
  list-style-type: none;
}
/*# sourceMappingURL=style.css.map */